.address {
  &__list {
    color: $pure-white;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  &__link {
    color: $grey-shadow;
  }
}
