.body {
  font-family: $main-font;
  background-color: $body-color;
  color: $main-black;
  box-shadow: $body-shadow;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  margin: 0 auto;
  min-width: 290px;
  @include mobile {
    min-width: 320px;
  }
  @include desktop {
    max-width: 1600px;
  }
}
