.checkbox {
  &__mark {
    position: absolute;
    display: block;
    width: 16px;
    height: 15px;
    left: -22px;
    top: 3px;
    border-radius: 2px;
    transition: background-color 250ms;
    transition-timing-function: $main-transition-cubic;
  }
  &__check {
    width: 13px;
    height: 10px;
    position: absolute;
    top: 3px;
    left: 1px;
  }
  &__input {
    display: block;
    position: absolute;
    cursor: pointer;
    left: -22px;
    top: 3px;
    width: 16px;
    height: 15px;
    border: 2px $main-black solid;
    border-radius: 2px;
  }
  &__input--hidden {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
}

.checkbox .checkbox__input:checked ~ .checkbox__mark {
  background-color: $brand-color;
}
