.header {
  padding: 24px;
  background-color: $pure-white;
  border-bottom: 1px solid $creme-white;
  position: relative;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2px;
  }
  .logo {
    color: #000;
  }
  .navigation__highlight::after {
    content: "";
    display: block;
    background-color: $brand-color;
    width: 53px;
    height: 4px;
    border: 1px;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
  }
}
