.introduction {
  background-color: $background-blueish;
  background-image: $main-background-gradient,
    url("../images/backgroundimage.jpg");
  background-size: cover;
  background-clip: padding-box;
  width: 100%;
  height: 100%;
  background-position: center;
  padding: 200px;

  &__heading {
    margin: 0 auto;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $pure-white;
    padding-bottom: 30px;
  }
  &__button {
    margin: 0 auto;
    width: 200px;
    height: 50px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $pure-white;
    background-color: $brand-color;
  }
}
