.media {
  &__heading {
    font-size: inherit;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-style: normal;
    color: $pure-white;
    padding-bottom: 20px;
    text-align: center;
    @include desktop {
      padding-top: 10px;
      text-align: left;
    }
  }
  &__list {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 60px;
    @include tablet {
      padding-bottom: 102px;
    }
    @include desktop {
      padding-bottom: 0px;
    }
  }
  &__icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms;
    transition-timing-function: $main-transition-cubic;
  }
  &__footer {
    fill: $pure-white;
    background-color: $grey-circle;
  }
  &__footer:hover,
  &__footer:focus {
    background-color: $brand-color;
  }
  &__team {
    fill: $grey-icons;
  }
  &__team:hover,
  &__team:focus {
    fill: $pure-white;
    background-color: $brand-color;
  }
}
