.menu {
  padding-bottom: 0px;
  &__list {
    display: flex;
    gap: 8px;
    justify-content: center;
  }
  &__button {
    background-color: $secound-white;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    padding: 4px 18px;
    box-shadow: none;
    transition: box-shadow 250ms, color 250ms, border-color 250ms,
      background 250ms;
    transition-timing-function: $main-transition-cubic;
  }

  &__button:hover,
  &_button:focus {
    background: $brand-color;
    color: $pure-white;
    box-shadow: $button-hover-shadow;
  }
}
