.project {
  padding-top: 40px;
  @include tablet {
    padding-top: 30px;
  }
  @include desktop {
    padding-top: 50px;
  }
  &__list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    @include tablet {
    justify-content: flex-start
  }
  }

  &__description {
    max-width: 450px;
    background-color: $pure-white;
    overflow: hidden;
    transition: box-shadow 250ms;
    transition-timing-function: $main-transition-cubic;
    @include tablet {
      max-width: 354px;
    }
    @include desktop {
      max-width: 370px;
    }
  }
  &__description:hover,
  &__description:focus {
    box-shadow: $projects-hover-shadow;
    cursor: pointer;
  }
  &__figure {
    margin: 0 0;
    display: block;
  }
  &__caption {
    border: 1px solid $caption-border-white;
    border-top: none;
  }
  &__picture {
    display: block;
    width: 100%;
  }
  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 4px;
  }
  &__type {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: $grey-tone;
    padding-left: 24px;
    padding-bottom: 20px;
  }
  &__paragraph {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: $pure-white;
    padding: 49px 5px 49px 24px;
  }
  &__wrapper {
    position: relative;
    overflow: hidden;
  }
  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $overlay-background;
    transform: translateY(100%);
    will-change: transform;
    transition: transform 250ms;
    transition-timing-function: $main-transition-cubic;
  }

  &__description:hover &__overlay {
    transform: translateY(-100%);
  }
}
