.team {
  background-color: $secound-white;

  &__heading {
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
  }
  &__description {
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: $grey-tone;
  }

  &__member {
    background-color: $pure-white;
    box-shadow: $team-shadow;
    border-radius: 0px 0px 4px 4px;
  }
  &__figure {
    display: block;
    margin: 0 0;
  }

  &__list {
    justify-content: center;
    padding-bottom: 24px;
    @include desktop {
      padding-bottom: 30px;
    }
  }
  &__image {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
