.workspace {
  display: none;
  @include desktop {
    display: block;
  }
  &__element {
    position: relative;
  }
  &__image {
    display: block;
  }
  &__overlay {
    display: block;
    position: absolute;
    width: 370px;
    height: 70px;
    padding-block: 27px;
    background-color: $workspace-overlay;
    bottom: 0;
  }
  &__paragraph {
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $pure-white;
  }
}
