$brand-color: #2196f3;
$body-color: #e5e5e5;
$pure-white: #fff;
$secound-white: #f5f4fa;
$creme-white: #ececec;
$grey-icons: #afb1b8;
$grey-circle: rgba(255, 255, 255, 0.1);
$grey-tone: #757575;
$grey-shadow: rgba(255, 255, 255, 0.6);
$background-blueish: #2f303a;
$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
$main-transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
